<div class="container">
  <div class="row">
    <div class="col text-center">
      <img class="img-thumbnail rounded-circle" style="height: 300px; width: 300px" src="img/profile-pic.png" alt="Kamal" />
      <h1 class="display-4">Muhammad Kamal</h1>
      <p class="lead">An aspiring developer</p>
    </div>
  </div>
</div>
